body{
  margin: 0;
}
div{
  box-sizing: border-box;
}
p{
  margin: 0;
}

.d-flex{
  display: flex;
}

.container{
  width: 100%;
  height: 100%;
}
.main-wrap {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-content{
  flex-wrap: wrap;
  margin-top: 15px;
}

/* header top container */
.header-wrap{
  flex-direction: column;
}
.header-top{
  height: 30px;
  align-items: center;
  justify-content: space-between;
}
.header-bars {
  position: relative;
}
.side-navbar{
  position:absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  padding: 20px;
  background-color: antiquewhite;
  z-index: 5;
  border: 1px solid;
  visibility: hidden;
  transition: all 1s;
}
.side-close-btn{
  text-align: end;
  height: 25px;
}
.side-list-wrap{
  height: calc(100% - 25px);
  flex-direction: column;
  align-items: center;
}
.side-list-wrap p {
  margin: 10px;
}


/* header login area */
.header-login{
  width: auto;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* header logo container */
.header-logo{
  text-align: center;
  cursor: pointer;
}

/* header navbar container */
.header-menu{
  align-items:end;
  margin-top: 10px;
}
.menu-wrap{
  width: calc(100% - 200px);
  justify-content: center;
}
.menu-wrap p{
  margin: 0 5px;
  font-size: 15px;
}
.menu-search{
  width: 200px;
  height: 30px;
  align-items: center;
  border-bottom: 1px solid;
}
.menu-search input {
  margin-left: 5px;
  border: none;
  padding: 5px;
}
.menu-search input:focus {
  outline: none !important;
}
/************************header*************************/


/* card item container area */
.card-item{
  width: 25%;
  align-items: center;
  padding: 0 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.5s;
}
.card-width{
  width: 90%;
}
.card-width:hover{
  width: 100%;
}
.item-img{
  height: 70%;
}
.item-description{
  height: 30%;
  padding: 5px;
  flex-direction: column;
}
.item-description p {
  font-size: 14px;
  margin-bottom: 2px;
}
/************************card list*************************/

/* login page container */
.login-wrap{
  width: 80%;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
}
.label-wrap{
  flex-direction: column;
  padding: 10px 0;
}
.label-wrap input {
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 5px;
  background: #eee;
  margin-top: 5px;
}
.login-wrap button {
  background-color: #da1e1e;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}
/************************login page*************************/


/* product detail page area */
.product-detail{
  width: 80%;
  height: 600px;
  margin: 20px auto;
  border: 1px solid;
}
.product-img{
  width: 55%;
}
.product-description{
  width: 45%;
  flex-direction: column;
  padding: 20px;
}
.product-description select {
  width: 150px;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
}
.product-description select:hover {
  color: white;
  background-color: rgb(41, 40, 40);
}
.product-description button {
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
/*********************product detail page****************/



/* responsive web style*/
@media screen and (max-width:1200px) {
  .main-wrap{
    width: 100%;
  }
  .card-item{
    width: 35%;
    margin: 20px auto;
  }
  .card-item:hover{
    width: 40%;
  }
  .item-description p {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width:997px) {
  .header-menu{
    visibility: hidden;
  }
  .product-detail{
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .product-img{
    width: 50%;
  }
  .product-description{
    width: 50%;
  }
  .card-item{
    width: 60%;
    margin: 20px auto;
  }
  .card-item:hover{
    width: 70%;
  }
}